Source: python-fuse
Section: python
Priority: optional
Maintainer: Sebastien Delafond <seb@debian.org>
Build-Depends: python-all-dev (>= 2.6.6-3~), python (>= 2.3.5-7), dh-buildinfo, libfuse-dev (>= 2.5), cdbs (>= 0.4.90~), debhelper (>= 6), pkg-config
Build-Conflicts: python-setuptools
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/collab-maint/python-fuse.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/python-fuse.git

Package: python-fuse
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, fuse [linux-any] | fuse4bsd [kfreebsd-any]
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Breaks: gmailfs (<= 0.7.3-4), wikipediafs (<= 0.3), python2.4-fuse (<< 2.5-3), python2.3-fuse (<< 2.5-3)
Replaces: python2.4-fuse (<< 2.5-3), python2.3-fuse (<< 2.5-3)
Description: Python bindings for FUSE (Filesystems in USErland)
 This is a Python interface to FUSE.
 . 
 FUSE (Filesystem in USErspace) is a simple interface for userspace
 programs to export a virtual filesystem to the Linux kernel. FUSE
 also aims to provide a secure method for non privileged users to
 create and mount their own filesystem implementations.
